body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    width: 900px;
    margin: auto;
    font-size: 2rem;
}

h1 a {
    color: #fff;
    float: left;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    width: 900px;
    flex-wrap: wrap;
}

form div.textareas {
    align-items: flex-start;
}

textarea {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    min-height: 250px;
    width: 410px;
    resize: vertical;
    box-sizing: border-box;
}

.item-wrapper {
    display: inline-block;
    width: 410px;
    max-width: 100%;
}

button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: none;
    margin: 10px;
    font-size: 1rem;
}

button:hover {
    background-color: #0077be;
    color: white;
}

a {
    display: block;
    text-align: center;
    margin: 10px;
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.current {
    background: #007ac4;;
}

select, .langs > input {
    background-color: #f2f2f2;
    border: none;
    color: #000;
    padding: 5px;
    font-size: 1rem;
    width: 410px;
    border-radius: 3px;
    max-width: 410px;
    text-align: center;
}

.center {
    text-align: center;
}

summary {
    cursor: pointer;
}

footer {
    width: 900px;
    margin: auto auto 0 auto;
    display: inline-flex;
    justify-content: space-between;
}

#definitions_and_translations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.definitions {
    margin-bottom: 1rem;
}

.def_type {
    font-weight: bold;
    text-transform: capitalize;
}

.usage, .syn {
    color: #444;
}

.engines {
    justify-content: start;
    margin: 0;
    gap: 15px;
}

.engines button {
    margin: 0;
}

#keybinds ul {
    list-style-type: none;
}

.item-wrapper {
    position: relative;
}

.sl-textarea > textarea {
    padding-right: 20px;
}

.sl-textarea > button {
    position: absolute;
    right: -5px;
    top: -7px;
    color: gray;
    background: none;
    box-shadow: none;
    padding: 1px
}

.sl-textarea > button:hover {
    color: #333;
}

hr {
    width: 70%;
}

label {
    margin-right: 1em;
}

.dictionary {
    display: flex;
    flex-wrap: wrap;
}

.data_header {
    flex-basis: 100%;
    text-align: center;
}

.synonyms {
    display: flex;
    flex-wrap: wrap;
    min-width: 50%;
    justify-content: space-around;
}

.pronunciation {
    color: gray;
    margin: 1em 0;
}

.langs button {
    font-weight: bold;
    background-color: white;
    color: #333;
    border: solid #1313 1px;
    box-shadow: none;
    height: 30px;
    line-height: 0;
}

audio {
    width: 410px;
}

fieldset {
    width: 100%;
}

@media only screen and (max-width: 925px) {
    .item-wrapper, audio, footer, form div, select, textarea, h1 {
        width: 100%
    }

    .langs {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    header h1 {
        margin-left: 10px;
    }

    select {
        max-width: 100%;
    }
}

@media only screen and (max-width: 385px) {
    .engines {
        flex-direction: column;
    }

    .engines button {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #keybinds {
        display: none;
    }

    textarea {
        min-height: 150px;
    }
}
